/* Card.css */
:root {
  --title-bar-color: #006994;
}

.card-grid{
  display:grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-rows: 1fr 1fr;
  gap: .5rem;
  margin-left: 15px;
  margin-top: 20px;
  width: 100%;
}
.card-component {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  margin:7px;
  margin-top: 15px;
  
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  /* display: grid; */

}

.card-title-component {
  text-align: center;
  background-color: var(--title-bar-color);
  color: white;
  padding: 5px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.card-component p {
  margin: 20px;
}

.button-container {
  display: flex;
  justify-content: center; /* Center the buttons */
  gap: 1rem; /* Adjust spacing between buttons */
}
