/* LabelValue.css */
.label-value {
   
    /* background-color:yellow; */
 
  }
  
  .label-value-label {
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    /* background-color: red; */
  }
  
  .label-value-text {
    /* background-color: blue; */
  }
  